<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WasteLess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<h1 style="text-align: center; margin-bottom: 30px">WasteLess</h1>
<div class="container my-2">
    <div th:if="${message}" th:text="${message}" style="text-align: center" class="alert alert-danger"></div>
    <form th:action="@{/logout}" style="text-align: right" method="post">
        <input class="btn btn-primary mb-5" type="submit" value="Sign Out"/>
    </form>
    <div class="card">
        <div class="card-body">
            <div th:switch="${groceryLists}" class="container my-5">
                <form class="form-inline mb-4" action="#" th:action="@{/create-list}" th:object="${addList}"
                      method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="name" class="col-form-label mr-3 ml-5">List Name</label>
                            <input type="text" th:field="*{name}" class="form-control"
                                   id="name" placeholder="List Name"/>
                        </div>
                        <div class="form-group mx-sm-3">
                            <label for="username" class="col-form-label mr-3">User Name</label>
                            <input type="text" th:field="*{username}" class="form-control mr-3"
                                   id="username" placeholder="User Name" readonly/>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Add Grocery List">

                        <input type="hidden" id="id" th:field="*{id}">
                    </div>
                </form>
                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>List Name</th>
                                <th>User Name</th>
                                <th>Edit</th>
                                <th>Donate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="groceryList : ${groceryLists}">
                                <td th:text="${groceryList.name}"></td>
                                <td th:text="${groceryList.username}"></td>
                                <td>
                                    <a th:href="@{/grocery-lists/{id}(id=${groceryList.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2"></i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/grocery-lists/delete/{id}(id=${groceryList.id})}"
                                       class="btn btn-primary">
                                        <i class="fas fa-donate ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-5 ml-3">
                    <a href="/report?type=weekly" class="btn btn-primary mr-3">Weekly Report</a>
                    <a href="/report?type=monthly" class="btn btn-primary ml-3">Monthly Report</a>
                </div>
                <form class="form-inline mb-4" style="float: right" action="#" th:action="@{/goal}"
                      th:object="${goal}"
                      method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="caloriesPerDay" class="col-form-label mr-3 ml-5">Goal</label>
                            <input type="text" size="2" th:field="*{caloriesPerDay}" class="form-control"
                                   id="caloriesPerDay" placeholder="Goal"/>
                        </div>
                        <input type="submit" class="btn btn-primary ml-3" value="Set Goal">

                        <input type="hidden" id="id" th:field="*{id}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>