<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WasteLess</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<h1 style="text-align: center; margin-bottom: 30px">WasteLess</h1>
<div class="container my-2">
    <a style="color: blue" th:href="@{/grocery-lists}">Home</a>
    <form th:action="@{/logout}" style="text-align: right" method="post">
        <input class="btn btn-primary mb-5" type="submit" value="Sign Out"/>
    </form>
    <div class="card">
        <div class="card-body">
            <div th:switch="${items}" class="container my-5">
                <h1>Report</h1>
                <div class="col-md-10">
                    <span>Total items bought:</span>
                    <h3 th:text="${report.nrItemsBought}"></h3>
                    <span>Total calories consumed:</span>
                    <h3 th:text="${report.totalCaloriesConsumed}"></h3>
                    <span>Total calories wasted:</span>
                    <h3 th:text="${report.totalCaloriesWasted}"></h3>

                    <h2>Wasted items / quantity:</h2>

                    <table>
                        <thead>
                        <tr>
                            <th>Item name</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="element : ${report.wastedGroceryItems}">
                            <td th:text="${element.key}"></td>
                            <td th:text="${element.value}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>